body.frontpage {
    margin-top:50px;
}
.close {
    color: #FFFFFF !important;
    opacity: 0.7 !important;
    text-shadow: 0 1px 0 #FFFFFF;
}
.close:focus, .close:hover {
    opacity: 0.9 !important;
}
.globalMap {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.globalMap {
    min-height:200px;
}
.pad4 .col6 {
    float: left;
}
.intro-message {
    margin-top: 50px;
    min-width: 470px;
    position: relative;
}
.intro {
    position: relative;
    clear:both;
}
.frontpage .first-container .jumbotron {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";
} 
.frontpage .first-container .jumbotron h1, .frontpage .first-container .jumbotron {
    color:#ffffff;
}
.frontpage .first-container {
    height:300px;
}
.tinyindex {
    z-index:-5;
}
