{% set active_page='index'%}{% extends "layout.html" %}
{% block content %}
<div class="clearfix pad4 intro">
    <div id="map" class="globalMap"></div>
    <div class="container first-container intro-message">
      <div class="jumbotron">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h1>Philippines Projects</h1>
        <p>This is a quick testing site to see what information is available about 
           projects in the Philippines.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{url_for('show_projects')}}">Explore projects &raquo;
           </a></p>
      </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-6">
    <h2>What is this site?</h2>
    <p class="lead">This site shows data that donors have already published
    about their aid activities in the Philippines &ndash; both existing
    activities and in response to Typhoon Haiyan.</p>
    <hr />
    <h2>Where does the data come from?</h2>
    <p class="lead">Donors have only just begun to publish to IATI (the
    <a href="http://aidtransparency.net">International Aid Transparency 
    Initiative</a>), so the data will currently
    be far from complete, and the quality depends on the individual donors.</p>
    <p class="lead">The site is updated each night, but donors generally publish much less
    frequently, so it may be some time until it is complete.</p>
    </div>
    <div class="col-md-6">
    <h2>Why publishing data is important</h2>
    <p class="lead">Publishing more data about aid activities should help
    everyone gain a better understanding of the overall picture. In a 
    humanitarian situation, there are much greater and more urgent needs,
    so coordination is vital.</p>
    <iframe frameborder="0" width="450" height="260" src="http://player.vimeo.com/video/24621998?title=0&amp;byline=0&amp;color=ffffff"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
    <h2>What can I do?</h2>
    <p class="lead">In the short term, donors could help by providing their
    data to UNOCHA's Financial Tracking System (FTS). In the medium term, 
    publishing to IATI will help to automate and speed up the process.</p>
    </div>
</div>

    <link href="{{url_for('static', filename='css/leaflet/leaflet.css')}}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/leaflet/MarkerCluster.css')}}" media="all" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/leaflet/MarkerCluster.Default.css')}}" media="all" rel="stylesheet" type="text/css" />

    <script src="{{url_for('static', filename='js/leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='js/leaflet/leaflet.markercluster-src.js')}}"></script>

    <script type="text/javascript">
    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };
    // OSM: http://{s}.tile.osm.org/{z}/{x}/{y}.png
    layer_MapBox = new L.tileLayer(
    'http://{s}.tiles.mapbox.com/v3/markbrough.map-qmxr8jb5/{z}/{x}/{y}.png',{
        maxZoom: 18, attribution: 'MapBox Streets'
    }
    )
    var map = new L.Map('map', {
        center: new L.LatLng(10,122),
        zoom: 7,
        maxZoom: 15
    });
    layer_MapBox.addTo(map);
    $(".jumbotron .close").click(function(){
        $(".jumbotron").fadeOut(function(){
            $(".first-container").addClass("tinyindex");
        });
    });
    </script>

{% endblock %}
