{% set active_page='index'%}{% extends "layout.html" %}
{% block content %}
<div class="clearfix pad4 intro">
    <div id="map" class="globalMap"></div>
    <div class="container first-container intro-message">
      <div class="jumbotron">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">hide</button>
        <h1>Philippines Projects</h1>
        <p>This is a quick testing site to see what information is available about 
           projects in the Philippines.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{url_for('show_projects')}}">Explore projects &raquo;
           </a></p>
      </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-6">
    <h2>What is this site?</h2>
    <p class="lead">This site shows data that donors have already published
    about their aid activities in the Philippines &mdash; both existing
    activities and in response to Typhoon Haiyan.</p>
    <hr />
    <h2>Where does the data come from?</h2>
    <p class="lead">The data comes from open data published by donors to the
    <a href="http://aidtransparency.net">International Aid Transparency 
    Initiative</a> (IATI), the internationally-agreed standard for publishing
    aid data. The standard makes it possible to share timely and detailed data
    on aid flows.</p>
    <p class="lead">Donors have just begun to publish so the data is not 
    complete. The quality of this information depends on each organisation and 
    how frequently they publish.</p>
    <h2>What can donors do?</h2>
    <p class="lead">In the short term, organisations working in the Philippines
    should provide their data to <a href="http://unocha.org/">UNOCHA</a>'s 
    <a href="http://fts.unocha.org/">Financial Tracking Service (FTS)</a>. 
    Publishing to IATI will help to automate and speed up the 
    process of sharing useful data.</p>
    </div>
    <div class="col-md-6">
    <br />
    <div class="alert alert-info">
    <p class="lead">Visit <a href="http://www.gov.ph/faith/">FAiTH</a> for 
    Philippines government data on pledges by individual countries. 
    <a class="btn btn-info pull-right" href="http://www.gov.ph/faith/">Visit FAiTH &raquo;</a></p>
    </div>
    <h2>Why publishing data is important</h2>
    <p class="lead">Publishing more data about aid activities should help
    everyone gain a better understanding of the overall picture. In a 
    humanitarian situation, there are much greater and more urgent needs,
    so coordination is vital.</p>
    <iframe frameborder="0" width="450" height="260" src="http://player.vimeo.com/video/24621998?title=0&amp;byline=0&amp;color=ffffff"></iframe>
    </div>
</div>

    <link type="text/css" media="screen" href="{{url_for('static', filename='css/bootstrap-glyphicons/css/bootstrap-glyphicons.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/leaflet/leaflet.css')}}" media="all" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="{{url_for('static', filename='js/leaflet/leaflet.js')}}"></script>

    <!--[if IE]> 
    <style>
    .frontpage .first-container .jumbotron {
        background: transparent;
    }
    </style> <![endif]-->
    <script type="text/javascript">
    var geojsonMarkerOptions = {
        radius: 8,
        fillColor: "#ff7800",
        color: "#000",
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
    };
    // OSM: http://{s}.tile.osm.org/{z}/{x}/{y}.png
    // MB: http://{s}.tiles.mapbox.com/v3/markbrough.map-qmxr8jb5/{z}/{x}/{y}.png

    layer_MapBox = new L.tileLayer(
    'https://d.tiles.mapbox.com/v3/americanredcross.map-ms6tihx6/{z}/{x}/{y}.png',{
        maxZoom: 18, attribution: 'Map data <a href="http://a.tiles.mapbox.com/v3/americanredcross.map-ms6tihx6/page.html">American Red Cross</a> and <a href="http://mapbox.com">MapBox Streets</a>'
    }
    )
    var map = new L.Map('map', {
        center: new L.LatLng(11.24,125),
        zoom: 14,
        maxZoom: 15
    });
    layer_MapBox.addTo(map);
    $(".jumbotron .close").click(function(){
        $(".jumbotron").fadeOut(function(){
            $(".first-container").addClass("tinyindex");
        });
    });
    </script>

{% endblock %}
