<html>
<head>
<title>Philippines projects browser</title>
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="all" rel="stylesheet" type="text/css" />
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
$( "#slider" ).slider();
});
</script>
<style>
body {
    margin-top: 60px;
}
</style>
</head>
    <body>
    <header class="navbar navbar-default  navbar-fixed-top" role="banner">
        <div class="navbar-inner" id="topbar">
      <div class="container">
        <div class="navbar-header">
          <a href="{{url_for('index')}}" title="Go to the homepage" class="navbar-brand">Philippines Projects</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('show_projects')}}">Projects</a></li>
        </ul>
      </div>
    </div>
    </div>
    </header>
    <div class="container">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Do not rely on this data!</h3>
        </div>
        <div class="panel-body">
          This is a demonstration application to explore what data donors have 
          already published. You should not rely on it to make decisions about
          allocation or about the current nature of different donors' activities.
        </div>
      </div>
    {% block content %}
    {% endblock %}
    </div>
    <footer>
    <div class="container well">
      <div class="pull-left">
      Thanks to those organisations that have already published their data to 
      the International Aid Transparency Initiative.
      </div>
    <div class="pull-right">
      <a href="http://twitter.com/markbrough">@mark_brough</a>
    </div>
    </div>
    </footer>
    </body>
</html>
