{% set active_page = active_page -%}<!DOCTYPE html>
<html lang="en">
<head>
<title>Philippines Projects{% if title %} &raquo; {{title}}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@aidtransparency">
{% if active_page=='index' %}<meta name="twitter:creator" content="@mark_brough">{% endif %}
<meta name="twitter:title" content="Philippines Projects{% if title %} &mdash; {{title}}{% endif%}">
<meta name="twitter:description" content="This site shows data that donors have already published about their aid activities in the Philippines &mdash; both existing activities and in response to Typhoon Haiyan.">
<meta name="description" content="This site shows data that donors have already published about their aid activities in the Philippines &mdash; both existing activities and in response to Typhoon Haiyan.">
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="all" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/smoothness/jquery-ui-1.10.3.custom.min.css')}}" media="all" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/site.css')}}" media="all" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery-ui-1.10.3.custom.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18679634-12', 'pwyf.github.io');
  ga('send', 'pageview');

</script>
<style>
body {
    margin-top: 60px;
}
</style>
</head>
    <body{% if active_page=='index' %} class="frontpage"{% endif %}>
    <header class="navbar navbar-default  navbar-fixed-top" role="banner">
        <div class="navbar-inner" id="topbar">
      <div class="container">
        <div class="navbar-header">
          <a href="{{url_for('index')}}" title="Go to the homepage" class="navbar-brand">Philippines Projects</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('show_projects')}}">Projects</a></li>
          <li><a href="{{url_for('show_pledges')}}">Pledges</a></li>
        </ul>
      </div>
    </div>
    </div>
    </header>
      {% if active_page != "index" %}
      <div class="container">
      <div class="alert alert-danger">
          <h4>Do not rely on this data!</h4>
          This is a demonstration application to explore what data donors have 
          already published. You should not rely on it to make decisions about
          allocation or about the current nature of different donors' activities.
      </div>
      {% endif %}
    {% block content %}
    {% endblock %}
    </div>
    <footer>
    <div class="container well">
      <div class="pull-left">
      <p>Thanks to those organisations that have already published their data to 
      the International Aid Transparency Initiative.</p>
      <a href="http://publishwhatyoufund.org">
      <img src="{{url_for('static', filename='img/pwyf_small.png')}}" 
        alt="A project of Publish What You Fund" />
      </a>
      </div>
    <div class="pull-right">
      <i class="text-muted">a project of</i></a> <a href="http://twitter.com/aidtransparency">@aidtransparency</a><br />
      <i class="text-muted">built by</i> <a href="http://twitter.com/markbrough">@mark_brough</a><br />
      <i class="text-muted">content license</i> <a href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">CC-BY</a><br />
      <i class="text-muted">code license</i> <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL v3</a><br />
      <a href="http://github.com/markbrough/philippines">Source code on Github</a><br />
    </div>
    </div>
    </footer>
    </body>
</html>
